<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Circuit #<%= @circuit.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/circuits" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/circuits/<%= @circuit.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit circuit
        </a>
      </div>

      <div class="col">
        <a href="/delete_circuit/<%= @circuit.id %>" class="btn btn-block btn-outline-secondary">
          Delete circuit
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Workout
      </dt>
      <dd>
        <% if @circuit.workout.present? %>
          <a href="/workouts/<%= @circuit.workout_id %>">
            <%= @circuit.workout.user_id %>
          </a>
        <% end %>
      </dd>

      <dt>
        Exercise
      </dt>
      <dd>
        <% if @circuit.exercise.present? %>
          <a href="/exercises/<%= @circuit.exercise_id %>">
            <%= @circuit.exercise.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Reps
      </dt>
      <dd>
        <%= @circuit.reps %>
      </dd>

      <dt>
        Sets
      </dt>
      <dd>
        <%= @circuit.sets %>
      </dd>

      <dt>
        Weight
      </dt>
      <dd>
        <%= @circuit.weight %>
      </dd>

      <dt>
        Unit
      </dt>
      <dd>
        <%= @circuit.unit %>
      </dd>

      <dt>
        Note
      </dt>
      <dd>
        <%= @circuit.note %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@circuit.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@circuit.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

