<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Exercise #<%= @exercise.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/exercises" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/exercises/<%= @exercise.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit exercise
        </a>
      </div>

      <div class="col">
        <a href="/delete_exercise/<%= @exercise.id %>" class="btn btn-block btn-outline-secondary">
          Delete exercise
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @exercise.name %>
      </dd>

      <dt>
        Bodypart
      </dt>
      <dd>
        <% if @exercise.bodypart.present? %>
          <a href="/bodyparts/<%= @exercise.bodypart_id %>">
            <%= @exercise.bodypart.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@exercise.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@exercise.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "exercise_templates/exercise_circuits" %>
  </div>
</div>
